
* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

h1 {
  color: blue;
}

#dog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#dog-list > img {
  height: 200px;
  border-radius: 20px;
  margin: 10px;
  border: 5px solid transparent;
}

#dog-list > img:hover {
  cursor: pointer;
}
#dog-list > img.selected {
  border: 5px solid white
}
